<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279557303816-doc5dt7jmn0lev3g4gfiibm4k403udtb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279557303816-doc5dt7jmn0lev3g4gfiibm4k403udtb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>279557303816-0iijib8s06o1u3r8hpvefsslsf44407p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvHAoYYcQ9jrB5mlNwRpgnULnf7ow7Heo</string>
	<key>GCM_SENDER_ID</key>
	<string>279557303816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeApp</string>
	<key>PROJECT_ID</key>
	<string>mini-project-cf22a</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-project-cf22a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279557303816:ios:62f7369fc64efed3f6abbd</string>
</dict>
</plist>